
  <div>
    <p>One hours</p>

<table>
  <tr class="tableheading">
    <th></th>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
    <th></th>
  </tr>
  <tr>
  	<td class="dayselect">All Days</td>
    <td><input type="radio" name="selectedDay" value="Sunday" checked></td>
    <td><input type="radio" name="selectedDay" value="Monday" checked></td>
    <td><input type="radio" name="selectedDay" value="Tuesday" checked></td>
    <td><input type="radio" name="selectedDay" value="Wednesday" checked></td>
    <td><input type="radio" name="selectedDay" value="Thursday" checked></td>
    <td><input type="radio" name="selectedDay" value="Friday" checked></td>
    <td><input type="radio" name="selectDay" value="Saturday"></td>
    <td class="btndelet"><button><img src="../assets/img1.png " /></button><button><img src="../assets/img2.png " /></button></td>
  </tr>
  <tr>
  	<td class="dayselect">Closed</td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="day" value="Monday"></td>
    <td class="btndelet"><button><img src="../assets/img1.png " /></button><button><img src="../assets/img2.png " /></button></td>
  </tr>
  <tr>
  	<td class="dayselect">8:00 AM - 06:00 PM</td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="day" value="Monday"></td>
    <td class="btndelet"><button><img src="../assets/img1.png " /></button><button><img src="../assets/img3.png " /></button></td>
  </tr>
  <tr>
  	<td class="dayselect"><button>10:00</button><span>-</span><button>12:00 AM + 1</button></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="selectedDay" value="Tuesday"></td>
    <td><input type="radio" name="day" value="Monday"></td>
    <div class="btndelet">
      <button><img src="../assets/img1.png " class="img"/></button>
      <button><img src="../assets/img3.png " /></button>
    </div>
  </tr>
  <tr>
    <td class="dayselect"><div><button >+ Add Open Hours</button></div></td>
  </tr>
</table>
</div>



