
.table {
  width: 100%;
}

.tableheading{
text-align: left;
}
.dayselect{
  text-align: right;
  padding: 10px 0px;
}
.btndispaly{
  width:100px;
}
.img{
  padding: 0px 3px;
}

.main{
  display: flex;
}
.input{
  padding: 10px 0px;
}
.display{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  border-right: 1px solid #cdcdcd;
}

.display1{
  display: flex;
  flex-direction: column;
  width: 240px;
  padding-top: 20px;
}
.display3{
  padding-top: 40px;
  width: 100px;
}
.display4{
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btndisplay1{
margin-top: 15px !important;
}
.btndisplay2{
  display: flex;
  flex-direction: column;
  width: 228px;
align-items: end;

}
.butimage{
  width:15px;
  height:15px;
  padding: 2px;

}
.btn{
  background-color: #fff;
  border: 1px solid #cdcdcd !important;
  margin: 0px 4px;

}
.btn1{
  background-color: #fff;
  border: 1px solid #cdcdcd !important;
  padding:5px 10px;
margin: 0px 2px;
}
.btndis{
  background-color: #fff;
  border: 1px solid #cdcdcd !important;
  padding:5px 10px;
  margin-right: 2px;
}
