<div class="table">
  <p>One hours</p>

  <div class="main">
    <div class="display1">
      <p></p>
      <div class="dayselect">All Days</div>
      <div class="dayselect">Closed</div>
      <div class="dayselect">8:00 AM - 06:00 PM</div>
      <div class="dayselect">
        <button class="btn1">10:00</button><span>-</span><button class="btn1">12:00 AM + 1</button>
      </div>
    </div>

    <div class="display">
      <p>Sun</p>
      <div class="input">
        <input type="radio" name="selectedDay" value="Sunday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Sunday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Sunday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Sunday" />
      </div>
    </div>
    <div class="display">
      <p>Mon</p>
      <div class="input">
        <input type="radio" name="selectedDay" value="Monday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Monday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Monday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Monday" />
      </div>
    </div>
    <div class="display">
      <p>Tue</p>
      <div class="input">
        <input type="radio" name="selectedDay" value="Tuesday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Tuesday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Tuesday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Tuesday" />
      </div>
    </div>
    <div class="display">
      <p>Wed</p>
      <div class="input">
        <input type="radio" name="selectedDay" value="Wednesday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Wednesday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Wednesday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Wednesday" />
      </div>
    </div>
    <div class="display">
      <p>Thu</p>
      <div class="input">
        <input type="radio" name="selectedDay" value="Thursday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Thursday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Thursday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Thursday" checked />
      </div>
    </div>
    <div class="display">
      <p>Fri</p>
      <div class="input">
        <input type="radio" name="selectedDay" value="Friday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Friday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Friday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Friday" checked />
      </div>
    </div>
    <div class="display4">
      <p>Sat</p>
      <div class="input">
        <input type="radio" name="selectedDay" value="Saturday" checked />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Saturday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Saturday" />
      </div>
      <div class="input">
        <input type="radio" name="selectedDay" value="Saturday" />
      </div>
    </div>
    <div class="display3">
      <p></p>
      <div class="btndisplay">
        <button class="btn"><img src="../assets/img1.png " class="butimage"/></button
        ><button class="btn"><img src="../assets/img2.png " class="butimage"/></button>
      </div>
      <div class="btndisplay1">
        <button class="btn"><img src="../assets/img1.png " class="butimage"/></button
        ><button class="btn"><img src="../assets/img2.png " class="butimage"/></button>
      </div>
      <div class="btndisplay1">
        <button class="btn"><img src="../assets/img1.png " class="butimage"/></button
        ><button><img src="../assets/img3.png " class="butimage"/></button>
      </div>
      <div class="btndisplay1">
        <button class="btn"><img src="../assets/img1.png " class="butimage"/></button
        ><button class="btn"><img src="../assets/img3.png " class="butimage"/></button>
      </div>
    </div>
  </div>
  <div class="btndisplay2">
    <button class="btndis">+ Add Open Hours</button>
  </div>
</div>
